html(ng-app='app')
  head
    link(rel='stylesheet', type='text/css', href='/assets/styles/styles.css')
  body(ng-controller='tdd')
    h1 welcome {{title}}
    form(ng-submit='submit')
      .form-group
        input.form-control(placeholder='title')
      .form-group
        input.form-control(placeholder='designer')
      .form-group
        button.btn.btn-primary(type='submit') Post
    div
      input(type='text' ng-model='emcee')
      br
      span {{emcee}}
      writers
    #list(ng-repeat='product in products')
      li
        a(href='#') {{product.title}}
    script(src='/assets/scripts/vendor.js')
    script(src='/app/app.js')
    script(src='/app/products.js')
    script(src='/assets/scripts/scripts.js')